<div class="container pt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body p-4">
          <form
            class="text-center border border-light p-5"
            *ngIf="!isLoggedIn"
            [formGroup]="signupForm"
            (ngSubmit)="register()"
          >
            <p class="h4 mb-4">Sign up</p>

            <div class="row mb-4">
              <div class="col">
                <!-- First name -->
                <input
                  type="text"
                  id="defaultRegisterFormFirstName"
                  formControlName="firstname"
                  class="form-control"
                  placeholder="First name*"
                />
              </div>
              <div class="col">
                <!-- Last name -->
                <input
                  type="text"
                  formControlName="lastname"
                  id="defaultRegisterFormLastName"
                  class="form-control"
                  placeholder="Last name*"
                />
              </div>
            </div>

            <!-- E-mail -->
            <input
              type="email"
              formControlName="email"
              id="defaultRegisterFormEmail"
              class="form-control mb-4"
              placeholder="E-mail*"
            />

            <!-- Password -->
            <input
              type="password"
              formControlName="password"
              id="defaultRegisterFormPassword"
              class="form-control"
              placeholder="Password*"
              aria-describedby="defaultRegisterFormPasswordHelpBlock"
            />
            <small
              id="defaultRegisterFormPasswordHelpBlock"
              class="form-text text-muted mb-4"
            >
              At least 8 characters and 1 digit
            </small>

            <!-- Sign up button -->
            <button
              class="btn btn-info my-4 btn-block"
              type="submit"
              [disabled]="!signupForm.valid"
            >
              Sign up
            </button>
            <!-- Terms of service -->
            <div class="alert alert-success text-center" *ngIf="isLoggedIn">
              You are already logged
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
