<div class="container mt-5 mb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10">
      <div class="card" *ngIf="product">
        <div class="row">
          <div class="col-md-6">
            <div class="images p-3">
              <div class="text-center p-4">
                <img
                  id="main-image"
                  [src]="
                    'http://localhost:3000/product-image/' + product.imageId
                  "
                  width="250"
                />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product p-4">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <a class="nav-link" (click)="back()" role="button">
                    <i class="fa fa-long-arrow-left"></i>
                    <span class="ml-1">Back</span></a
                  >
                </div>
              </div>
              <div class="mt-4 mb-3">
                <span *ngIf="product.Brand != null" class="text-muted brand"
                  >{{ product.Brand.name }}
                </span>
                <h5 class="text-uppercase">{{ product.name }}</h5>
                <div
                  class="price d-flex flex-row align-items-center"
                  *ngIf="product.promo > 0"
                >
                  <span class="act-price"
                    >{{
                      (product.price * ((100 - product.promo) / 100)).toFixed(
                        2
                      )
                    }}€
                  </span>
                  <div class="ms-2">
                    <small class="dis-price"> {{ product.price }}€</small>
                  </div>
                </div>
                <div
                  class="price d-flex flex-row align-items-center"
                  *ngIf="product.promo == 0"
                >
                  <span class="act-price">{{ product.price }}€ </span>
                </div>
                <p class="about">
                  {{ product.description }}
                </p>
                <div class="cart mt-4 align-items-center">
                  <button
                    (click)="addToCart(product.id)"
                    class="btn btn-danger mr-2 px-4"
                    *ngIf="product.stock > 0"
                  >
                    Add to cart
                  </button>
                  <button
                    class="btn btn-danger mr-2 px-4 disabled"
                    *ngIf="product.stock <= 0"
                  >
                    Out of stock
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
