<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <div class="card text-center">
        <div class="card-header text-center">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link" (click)="redirecToUserProfile()" role="button"
                >User's infos</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                (click)="redirecToUserAddress()"
                role="button"
                >Address</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title mb-4">User info</h5>
          <form class="text-center border border-light" [formGroup]="userForm">
            <div class="row">
              <div class="col">
                <label for="lastname">Last name</label>
                <input
                  type="text"
                  formControlName="lastname"
                  class="form-control mb-4"
                  placeholder="Lastname"
                />
              </div>
              <div class="col">
                <label for="firstname">First name</label>
                <input
                  type="text"
                  formControlName="firstname"
                  class="form-control mb-4"
                  placeholder="firstname"
                />
              </div>
            </div>
            <label for="email">Email</label>
            <input
              type="email"
              formControlName="email"
              class="form-control mb-4"
              placeholder="E-mail"
            />
            <div class="row">
              <div class="col">
                <label for="role">Role</label>
                <input
                  type="text"
                  formControlName="role"
                  class="form-control mb-4"
                  placeholder="role"
                />
              </div>
            </div>
            <label for="createdAt">Account created at :</label>
            <input
              type="text"
              formControlName="createdAt"
              class="form-control mb-4"
            />
            <button
              class="btn btn-block btn-info my-4"
              block="true"
              type="submit"
            >
              Update infos
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
