<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <div class="card text-center">
        <app-nav-user></app-nav-user>
        <div class="card-body">
          <h5 class="card-title mb-4">Delivery infos</h5>
          <form
            class="text-center border border-light"
            [formGroup]="addressForm"
            (ngSubmit)="registerAddress()"
          >
            <label for="country">Country*</label>
            <input
              type="text"
              formControlName="country"
              class="form-control mb-4"
              placeholder="Country"
            />
            <div class="row">
              <div class="col">
                <label for="city">City*</label>
                <input
                  type="text"
                  formControlName="city"
                  class="form-control mb-4"
                  placeholder="city"
                />
              </div>
              <div class="col">
                <label for="zip">Zip code*</label>
                <input
                  type="text"
                  formControlName="zip"
                  class="form-control mb-4"
                  placeholder="zip"
                />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="street">Street*</label>
                <input
                  type="text"
                  formControlName="street"
                  class="form-control mb-4"
                  placeholder="street"
                />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="number">Number*</label>
                <input
                  type="text"
                  formControlName="number"
                  class="form-control mb-4"
                  placeholder="number"
                />
              </div>
              <div class="col">
                <label for="box">Box</label>
                <input
                  type="text"
                  formControlName="box"
                  class="form-control mb-4"
                  placeholder="box"
                />
              </div>
            </div>
            <p class="text-start">*Required fields</p>
            <button
              class="btn btn-block btn-info my-2"
              block="true"
              type="submit"
              [disabled]="!addressForm.valid"
            >
              Update address
            </button>
            <div class="alert alert-success text-center" *ngIf="addressSuccess">
              User updated successfully !
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
