<div class="container pt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-5 text-center">
      <div
        class="alert alert-success d-flex align-items-center"
        role="alert"
        *ngIf="passwordReseted == true"
      >
        <div>Password reseted please <a href="/login">login</a></div>
      </div>
      <div class="card">
        <div class="card-body p-4">
          <h4 class="card-title mb-4">Reset password</h4>
          <p class="card-text">Enter your new password</p>
          <!-- Default form login -->
          <form
            class="text-center border border-light p-3"
            [formGroup]="passForm"
            (ngSubmit)="sendResetPassword()"
          >
            <!-- Email -->
            <input
              type="password"
              formControlName="password"
              class="form-control"
              placeholder="Password"
            />
            <input
              type="password"
              formControlName="confirmPassword"
              class="form-control my-4"
              placeholder="Confirm password"
            />
            <!-- send mail button -->
            <button
              mdbBtn
              class="btn btn-block form-control btn-info mt-4"
              block="true"
              type="submit"
              [disabled]="!passForm.valid"
            >
              Reset password
            </button>
          </form>
          <p class="mt-2"><a href="/login">Return to login</a></p>
          <!-- Default form login -->
        </div>
      </div>
    </div>
  </div>
</div>
