<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <div class="card text-center">
        <app-nav-user></app-nav-user>
        <div class="card-body">
          <h5 class="card-title mb-4">Change password</h5>
          <div class="alert alert-success" *ngIf="passChanged">
            Password successfully updated
          </div>
          <form
            class="text-center border border-light"
            [formGroup]="passForm"
            (ngSubmit)="changePass()"
          >
            <input
              type="password"
              formControlName="password"
              class="form-control mb-4"
              placeholder="Password"
            />
            <input
              type="password"
              formControlName="newPassword"
              class="form-control mb-4"
              placeholder="New password"
            />
            <input
              type="password"
              formControlName="newPasswordRepeat"
              class="form-control mb-2"
              placeholder="Repeat new password"
            />
            <div
              id="defaultRegisterFormPasswordHelpBlock"
              class="form-text text-muted mb-10"
            >
              At least 8 characters and 1 digit
            </div>
            <div class="alert alert-danger text-center" *ngIf="errorMessage">
              {{ errorMessage }}
            </div>
            <button
              class="btn btn-block btn-info my-2"
              block="true"
              type="submit"
              [disabled]="!passForm.valid"
            >
              Update password
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
