<div class="container pt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div
        class="alert alert-warning d-flex align-items-center"
        role="alert"
        *ngIf="previousUrl != null"
      >
        <svg
          class="bi flex-shrink-0 me-2"
          width="24"
          height="24"
          role="img"
          aria-label="Warning:"
        >
          <use xlink:href="#exclamation-triangle-fill" />
        </svg>
        <div>You have to be logged in to access {{ previousUrl }}</div>
      </div>
      <div class="card">
        <div class="card-body p-4">
          <!-- Default form login -->
          <form
            *ngIf="!isLoggedIn"
            class="text-center border border-light p-5"
            [formGroup]="signinForm"
            (ngSubmit)="loginUser()"
          >
            <p class="h4 mb-4">Sign in</p>
            <!-- Email -->
            <input
              type="email"
              formControlName="email"
              class="form-control mb-4"
              placeholder="E-mail"
            />
            <!-- Password -->
            <input
              type="password"
              formControlName="password"
              class="form-control mb-4"
              placeholder="Password"
            />
            <div class="d-flex justify-content-around">
              <div>
                <!-- Forgot password -->
                <a href="/reset-password-mail">Forgot password?</a>
              </div>
            </div>
            <!-- Sign in button -->
            <button
              mdbBtn
              class="btn btn-block btn-info my-4"
              block="true"
              type="submit"
              [disabled]="!signinForm.valid"
            >
              Sign in
            </button>
            <!-- Register -->
            <p>
              Not a member?
              <a href="/signup">Register</a>
            </p>
          </form>
          <!-- Default form login -->
        </div>
      </div>
    </div>
  </div>
</div>
