<div class="product tumbnail thumbnail-3 mt-4">
  <a href="#"
    ><img src="../../../assets/img/skateboard_PNG11749.png" alt=""
  /></a>
  <div class="caption">
    <h6>
      <a class="nav-link" href="#">{{ Item.name }}</a>
    </h6>
    <div *ngIf="Item.promo > 0">
      <span class="price">
        <del>{{ Item.price }}€</del></span
      ><span class="price sale"
        >{{ (Item.price * ((100 - Item.promo) / 100)).toFixed(2) }}€</span
      >
    </div>
    <div *ngIf="Item.promo == 0">
      <span class="price sale">{{ Item.price }}€</span>
    </div>
  </div>
</div>
