<div class="product tumbnail thumbnail-3 mt-4 card">
  <div class="alert-danger" *ngIf="Item.status === 'outOfStock'">
    Out of Stock
  </div>
  <div class="alert-success" *ngIf="Item.status === 'live'">Live</div>
  <a href="product/{{ Item.id }}"
    ><img
      class="card-image-top"
      [src]="'http://localhost:3000/product-image/' + Item.imageId"
      [alt]="Item.name"
  /></a>
  <div class="caption">
    <h6>
      <a class="nav-link" href="product/{{ Item.id }}">{{ Item.name }}</a>
    </h6>
    <div *ngIf="Item.promo > 0">
      <span class="price">
        <del>{{ Item.price }}€</del></span
      ><span class="price sale"
        >{{ (Item.price * ((100 - Item.promo) / 100)).toFixed(2) }}€</span
      >
    </div>
    <div *ngIf="Item.promo == 0">
      <span class="price sale">{{ Item.price }}€</span>
    </div>
    <div *ngIf="isAdmin">
      <button class="btn btn-outline-info" (click)="updateProduct(Item.id)">
        Update
      </button>
    </div>
  </div>
</div>
<!-- <div class="card" style="width: 22rem">
  <img class="card-img-top" src="..." alt="Card image cap" />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div> -->
