<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="/home">
      <img
        src="../../../assets/img/skateboarder-silhouette-skateboarding-free-svg-file-SvgHeart.Com.png"
        height="35"
        alt=""
        loading="lazy"
        style="margin-top: -1px"
      />
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="true" href="home">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="productDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            aria-current="page"
            href="#"
            >Products</a
          >
          <ul class="dropdown-menu" aria-labelledby="productDropdown">
            <li><a class="dropdown-item" href="#">Category</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Events</a>
        </li>
        <li class="nav-item dropdown" *ngIf="isAdmin">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="adminDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Admin</a
          >
          <ul class="dropdown-menu" aria-labelledby="adminDropdown">
            <li><a class="dropdown-item" href="#">Add product</a></li>
            <li><a class="dropdown-item" href="#">Update product</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <div class="dropdown">
        <ul class="navbar-nav me-2">
          <li class="nav-item fs-4">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="loginDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              ><i class="bi bi-person-circle"></i
            ></a>
            <ul
              class="dropdown-menu"
              aria-labelledby="loginDropdown"
              *ngIf="!isConnected"
            >
              <li><a class="dropdown-item" href="login">Login</a></li>
              <li><a class="dropdown-item" href="signup">Sign up</a></li>
              <!-- <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li> -->
            </ul>
            <ul
              class="dropdown-menu"
              aria-labelledby="loginDropdown"
              *ngIf="isConnected"
            >
              <li>
                <a class="dropdown-item" (click)="redirectUserProfile()"
                  >Account</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="" (click)="logout()">Logout</a>
              </li>
            </ul>
          </li>
          <li class="nav-item fs-4">
            <a
              class="nav-link position-relative"
              role="button"
              [routerLink]="['/cart', user?.id]"
              ><i class="bi bi-cart4">
                <span
                  *ngIf="isConnected"
                  class="position-absolute top-45 start-100 translate-middle badge rounded-pill bg-danger"
                  >{{ cart }}</span
                ></i
              ></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- Navbar -->
